#noshow {
    display: none;
}

/* Seksjon 1 - ordre */

.checkout {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.strek {
    width: 100%;
    border: 0.8px solid #6b5a5751;
    border-radius: 10px;
    margin: 20px 0;
}

main h2 {
    font-size: 20px;
}

.ordre-oppsumering,
.ordre-betaling {
    background-color: white;
    padding: 25px;
    border-radius: 20px;
}

.ordre-oppsumering {
    width: 60%;
}

.velg-alle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

.velg-alle h2 {
    font-size: 18px;
    color: #6b5a57;
}

.vare {
    display: flex;
    gap: 20px;
}

.prikk {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background-color: white;
    border: solid 3.5px #b76e79;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
}

.valgt {
    background-color: #b76e79;
}


.prikk:hover {
    background-color: #b76e79;
}

.vare img {
    width: 100px;
    background-color: #f8f4f2;
}

.vare-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.volume {
    font-style: italic;
    color: #6b5a57;
}

.price {
    color: #b76e79;
    font-weight: 600;
}

#tom-knapp {
    display: block;
    margin-left: auto;
    font-size: 30px;
    color: #b76e79;
    border: none;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
}

#tom-knapp:hover {
    color: #b76e79a9;
}



/* Seksjon 2 - Betaling */
.ordre-betaling {
    width: 40%;
    height: fit-content;
    position: sticky;
    top: 100px;
}

.style {
    color: #6b5a57;
    font-weight: 700;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex img {
    max-width: 120px;
}

.ordre-betaling button {
    border: none;
    width: 100%;
    margin-bottom: 30px;
    font-size: 15px;
    letter-spacing: 5px;
    cursor: pointer;
}

#handlekurv-knapp {
    background: linear-gradient(90deg, #b76e79, #8a4b57);
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 6px 18px rgba(139, 75, 87, 0.18);
    transition: 0.3s;
}



@media(width < 950px) {
    .checkout {
        flex-direction: column;
    }

    .ordre-oppsumering,
    .ordre-betaling {
        width: 100%;
    }

    .flex img {
        width: 100px;
    }

    .handlekurv-tekst {
        display: none;
    }

    #noshow {
        display: inline;
    }

    .lenker {
        display: none;
    }
}